body
{
  background-image: url("../images/background.png");
  background-repeat: repeat;
}

h2
{
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p
{
  font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  background-color: #ffffff;
}

.main_header
{
  background-color: #ffffff;
  border-color: #cccccc;
  color: #4aaaa5;
  top: 0;
  position: absolute;
  width: 100%;
}

#my_face
{
  float: left;
}

#name
{
  background-color: #4aaaa5;
  color: white;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  width: 245px;
  height: 60px;
  text-align: center;
  line-height: 55px;
}
